.container-fluid{
    padding: 0;
}

/* .container-fluid .row{
    margin: 0;
} */
/* NavBar */

.navbar{
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav{
    margin: auto;
}

.navbar-brand{
    font-weight: bold;
}
.navbar-light .navbar-nav a.nav-link{
    color: #333;
    letter-spacing: 1px;
}

/* dashboard*/

.dashboard{
    padding: 0;
    width: 100%;
    display: inline-block;
}
.dashboard h4{
    font-size: 20px;
}
.dashboard span{
    font-size: 40px;
    display: block;
    width: 100%;
}
.dashboard-box{
    float: left;
    background-color: #dfdfdf;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    height: 130px;
    width: 32%;
    text-align: center;
}
#dashboard-lastdays{
    background-color: #3476e2;
}
#dashboard-done{
    background-color: #13c43f
}
#dashboard-doing{
    background-color: #db1e47
}
/* Botão de Adicionar */

#add-link{
    text-decoration: none;
}

.add-div{
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 8px;
    margin-right: 25px;
}

.fas.fa-plus{
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}

/* Search */

/* .fas.fa-search{
    position: absolute;
    top: 12px;
    right: 26px;
    cursor: pointer;
}

.search-div{
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
} */
/* filter */
.filter-div{
    margin-bottom: 15px;
    padding: 0;
}

#filter{
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}
/* Lista de tarefas */

.list-div{
    padding: 0;
}

.conteudo-list{
    padding-left: 0;
}

.conteudo-item{
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding: 0 15px;
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
}
.conteudo-item.done{
    background-color: #ccc;
}

.fas.fa-trash, .fas.fa-edit, .fas.fa-check{
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-trash{
    color: #db1e47;
}

.fas.fa-edit{
    color: #13c43f;
}
.fas.fa-check{
    color: #3476e2;
}

/* Rodapé */
footer{
    background-color: #333;
    height: 300px;
    border-top: 2px solid #202020;
}
footer p{
    color: #f5f5f5;
    text-align: center;
    top: 50%;
    position: relative;
}

/* messages */

ul.messages{
    padding: 0;
}
ul.messages li{
    list-style: none;
}

/* Paginação */

.pagination{
    margin-bottom: 20px;
}
.step-links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
}

/* login */

.auth-card{
    margin-bottom: 30px;
}

.change-form-p{
    margin-top: 30px;
    text-align: center;
}