.container-fluid{
    padding: 0;
}

/* NavBar */

.navbar{
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav{
    margin: auto;
}

.navbar-brand{
    font-weight: bold;
}
.navbar-light .navbar-nav a.nav-link{
    letter-spacing: 1px;
}

/* Botão de Adicionar */

#add-link{
    text-decoration: none;
}

.add-div{
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 8px;
    margin-right: 25px;
}

.fas.fa-plus{
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}

/* Lista de tarefas */

.fas.fa-trash, .fas.fa-edit{
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-trash{
    color: #000000;
}

.fas.fa-edit{
    color: #000000;
}
.pre{
    font-size: 16px;
}



/* messages */

ul.messages{
    padding: 0;
}
ul.messages li{
    list-style: none;
}

/* login */

.auth-card{
    margin-bottom: 30px;
}

.change-form-p{
    margin-top: 30px;
    text-align: center;
}

/* footer */
footer{
    color: white;
}

/* busca */
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.fa-search{
    color: white;
}

.col-2{
    margin: 10px 0;
    border-radius: 5px;
}