{% extends 'base.html' %}

{% block titulo %} Blocos {% endblock %}
{% block conteudo %}
<div>
    <a id='add-link' href="novobloco/" >
        <div class="col-2 add-div bg-dark">
            <i class="fas fa-plus"></i> Adicionar Bloco
        </div>
    </a>
    <form method="GET" id="search-form" class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
            <div class="col">
                <input class="form-control form-control-lg form-control-borderless" type="text" id="search" name="search"
                placeholder="Digite o nome da tarefa para buscar" value="{{ request.GET.search}}">
            </div>
            <div class="col-auto">
                <button  class="btn btn-dark active" type="submit"><i class="fas fa-search h4" id="search-btn" value="{{ request.GET.search}}"></i></button>
            </div>
        </div>
      </form>
    <div>
        {% for conteudo in conteudos %}
        <div class="card-group">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <a href="delete/{{conteudo.id}}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a>
                <a href="edit/{{conteudo.id}}"><span><i class="fas fa-edit"></i></span></a>
                <h5 class="card-title"><a href="/conteudo/{{ conteudo.id }}" class="card-title">{{ conteudo.titulo }}</a></h5>
                <p class="card-text"> <pre class="pre" class="card-text">{{ conteudo.descricao }}</pre></p>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="pagination ">
    <ul class="pagination pagination-lg">
        {% for pagina in conteudos.paginator.page_range %}
          {% if conteudos.number == pagina %}
            <li class="page-item active"><a class="page-link bg-dark" href="?page={{ pagina }}&termo={{ request.GET.termo }}">{{ pagina }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ pagina }}&termo={{ request.GET.termo }}">{{ pagina }}</a></li>
          {%endif%}
        {% endfor %}
      </ul>
</div>
</div>
{% endblock %}