{% extends 'base.html' %}

{% block titulo %} Blocos {% endblock %}
{% block conteudo %}
<div>
    <form method="get" action="{% url 'busca' %}">
        <div class="button">
            <input type="search" 
                    placeholder="Digite sua pesquisa" 
                    id="search-input" 
                    name="termo"
                    value="{{ request.GET.termo }}">
        </div>
    </form>
</div>
<div>
    <a id='add-link' href="novobloco/">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Adicionar tarefa
        </div>
    </a>
    <ul class="conteudo-lista">
        {% for conteudo in conteudos %}
        <div class="bloco-conteudo">
            <li class="conteudo-item">
                
                <a href="delete/{{conteudo.id}}"><span><i class="fas fa-trash"></i></span></a>
                <a href="edit/{{conteudo.id}}"><span><i class="fas fa-edit"></i></span></a>
                <h4 class="titulo-centralizado"><a href="/conteudo/{{ conteudo.id }}">{{ conteudo.titulo }}</a></h4><br>
                <pre class="cor">{{ conteudo.descricao }}</pre>
            </li>
        </div>
        {% endfor %}
    </ul>
    <ul class="pagination" method="POST">
        <li><a href="#"> << </a></li>
        {% for pagina in conteudos.paginator.page_range %}
            {% if conteudos.number == pagina  %}
            <li><a class="page-ative" href="?p={{ pagina }}&termo={{ request.GET.termo}}">{{ pagina }} </a></li>
            {% else %}
            <li><a href="?p={{ pagina }}&termo={{ request.GET.termo}}">{{ pagina }} </a></li>
            {% endif %}
        {% endfor %}
        <li><a href="#"> >> </a></li>
    </ul>
</div>
{% endblock %}


